<ul id="sidebar" class="side-nav fixed  ">
    <!--<li>
        <div class="userView">
            <div class="background">
                <img src="images/office.jpg">
            </div>
            <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>-->

    <li>
        <a class="collapsible-header" href="#/">
            <i class="material-icons" style="color: #00796b;">home</i>
            Página inicial
        </a>
    </li>

    <li class="divider"></li>
    <li><a class="collapsible-header" href="#/solicitacao/listar"> <i class="material-icons tiny">store</i> Solicitacao </a></li>
    <li class="divider"></li>
    <li><a class="collapsible-header" href="#/registrocustas/listar">  <i class="material-icons tiny">people</i>Registro de Custas </a></li>
    <li class="divider"></li>
    <li><a class="collapsible-header" href="#/registroexigencias/listar"> <i class="material-icons tiny">watch</i>Registro de Exigências </a></li>
    <li class="divider"></li>
</ul>


<script type="text/javascript">


    //$(document).ready(function () {


    //    // Show sideNav
    //    $('.button-collapse').sideNav('show');
    //    // Hide sideNav
    //    $('.button-collapse').sideNav('hide');
    //    // Destroy sideNav
    //    $('.button-collapse').sideNav('destroy');


    //    $('.master-menu').click(function (e) {
    //        e.preventDefault();

    //        $(this).next('ul').slideToggle('slow');
    //        $('.child-menu').not($(this).next()).slideUp('slow');
    //    });

    //});


</script>
